<footer class="border-top">
        <div class="f-info">
                <div class="f-info-socials">
                        <a href="https://www.linkedin.com/in/coderkp/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/Coder-Kartikey" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-github"></i></a>
                        <a href="https://x.com/coderkp_" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-x-twitter"></i></a>
                </div>
                <div class="f-info-brand">
                        &copy; 2025 WonderLust &amp; CoderKP
                </div>
                <!-- <div>Web Handler @CoderKP</div> -->
                <div class="f-info-links">
                        <a href="">Privacy</a>
                        <a href="">Terms</a>
                </div>
        </div>
</footer>